<nav>
    <section class="test">
  
      <ul class="navbar">
        <li class="logout">
          <a href="/">Logout</a>
        </li>
        <li class="list-link">
            <a href="/wishList"><%= user.local.username %>'s Card-List</a>
        </li>
        <li class="search-link">
          <a href="/cardSearch">Card-Search</a>
        </li>
      </ul>
  
    </section>
  </nav>