<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shadowverse Card Wish-list</title>
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>
    <div class="container" role="main">
      <div >
        <h1>Shadowverse Wish-list</h1>
        <p>Login or Register!</p>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </div>
    </div>
  </body>
</html>