<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shadowverse List</title>
    <link rel="stylesheet" href="/styles/wishList.css" />
  </head>
  <body>
    <header>
      <% include ./partials/navigation %>
      <h1>Card List</h1>
      <hr class="title-line">
    </header>
    <main>
      <section>
        <span id="db-info"><%= data %></span>
        <section id="cards">
          <span class="title">HIGH PRIORITY</span>
          <hr class="section-line">
          <ul id="high" class="card-holder"></ul>
          <span class="title">LOW PRIORITY</span>
          <hr class="section-line">
          <ul id="low" class="card-holder"></ul>
        </section>
      </section>
    </main>
    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/api.js"></script>
    <script type="text/javascript" src="/scripts/wishListScripts.js"></script>
  </body>
</html>